{% extends "base.html" %}


{% block content %}
{%load crispy_forms_tags %}
<div class="container mt-3">
    <div class="row">
        <div class="col-8 mx-auto mb-6">
            {% for post in post %}
            <div class="card shadow mb-3">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-image">
                    <img src="{{ post.image.url }}" class="w-100 shadow" alt="">

                </div>
                <div class="card-body">
                    {{ post.description }}
                </div>
                <div class="card-footer">
                    <span class="bg-success badge">{{ post.author.username }}</span>
                    <span class="bg-warning badge">{{ post.category.name }}</span>
                    <span class="bg-danger badge">{{ post.dateof_pub }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header">All Category</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for cat in category  %}
                            <li class="list-group-item">
                                <a href="{% url 'category_search' cat.id %}">{{ cat.name }}</a>
                            </li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}